extends layout

block content
	if (user)
		.container
			h1 Thank you for your hard work!
			ul
				for compliment in compliments
					li #{compliment.message} from: #{compliment.sender}
					form(role='form', action="/messageInvisible" ,method="post", style='max-width: 300px;')
						.form-group
							button.btn.btn-default(type='submit' name='messageNumber' value="#{compliment.number}") Make private
				else
					li Don't worry you will recieve a compliment soon enough
			h1 Messages sent to people you manage!
			ul
				for employeeCom in employeeComs
					li #{employeeCom.message} from: #{employeeCom.sender}
		br
		a(href="/") Back to the homepage
	if (!user)
		p You aren't logged in. Please log in
		br
		a(href="/") Back to the homepage
	